[submodule "Testimonials-grid-section"]
	path = Testimonials-grid-section
	url = git@github.com:gabcchaves/Testimonials-grid-section.git
[submodule "Profile-Card-Component"]
	path = Profile-Card-Component
	url = git@github.com:gabcchaves/Profile-Card-Component.git
[submodule "login-page"]
	path = login-page
	url = git@github.com:gabcchaves/login-page.git
[submodule "registration-page"]
	path = registration-page
	url = git@github.com:gabcchaves/registration-page.git
[submodule "qr-code-component"]
	path = qr-code-component
	url = git@github.com:gabcchaves/qr-code-component.git
[submodule "nft-preview-card-component"]
	path = nft-preview-card-component
	url = git@github.com:gabcchaves/nft-preview-card-component.git
[submodule "interactive-rating-component-main"]
	path = interactive-rating-component-main
	url = git@github.com:gabcchaves/interactive-rating-component-main.git
[submodule "3-column-preview-card-component-main"]
	path = 3-column-preview-card-component-main
	url = git@github.com:gabcchaves/3-column-preview-card-component-main.git
[submodule "stats-preview-card-component-main"]
	path = stats-preview-card-component-main
	url = git@github.com:gabcchaves/stats-preview-card-component-main.git
[submodule "product-preview-card-component-main"]
	path = product-preview-card-component-main
	url = git@github.com:gabcchaves/product-preview-card-component-main.git
[submodule "order-summary-component-main"]
	path = order-summary-component-main
	url = git@github.com:gabcchaves/order-summary-component-main.git
[submodule "login-form"]
	path = login-form
	url = git@github.com:gabcchaves/login-form.git
[submodule "faq-accordion-card"]
	path = faq-accordion-card
	url = git@github.com:gabcchaves/faq-accordion-card.git
[submodule "four-card-feature-section"]
	path = four-card-feature-section
	url = git@github.com:gabcchaves/four-card-feature-section.git
[submodule "social-proof-section"]
	path = social-proof-section
	url = git@github.com:gabcchaves/social-proof-section.git
[submodule "article-preview-component"]
	path = article-preview-component
	url = git@github.com:gabcchaves/article-preview-component.git
[submodule "base-apparel-coming-soon"]
	path = base-apparel-coming-soon
	url = git@github.com:gabcchaves/base-apparel-coming-soon.git
[submodule "huddle-landing-page-with-single-introductory-section"]
	path = huddle-landing-page-with-single-introductory-section
	url = git@github.com:gabcchaves/huddle-landing-page-with-single-introductory-section.git
[submodule "ping-coming-soon-page"]
	path = ping-coming-soon-page
	url = git@github.com:gabcchaves/ping-coming-soon-page.git
[submodule "single-price-grid-component"]
	path = single-price-grid-component
	url = git@github.com:gabcchaves/single-price-grid-component.git
[submodule "intro-component-with-signup-form"]
	path = intro-component-with-signup-form
	url = git@github.com:gabcchaves/intro-component-with-signup-form.git
[submodule "interactive-card-details-form"]
	path = interactive-card-details-form
	url = git@github.com:gabcchaves/interactive-card-details-form.git
[submodule "expenses-chart-component"]
	path = expenses-chart-component
	url = git@github.com:gabcchaves/expenses-chart-component.git
[submodule "intro-section-with-dropdown-navigation"]
	path = intro-section-with-dropdown-navigation
	url = git@github.com:gabcchaves/intro-section-with-dropdown-navigation.git
[submodule "advice-generator-app"]
	path = advice-generator-app
	url = git@github.com:gabcchaves/advice-generator-app.git
