@import url('http://fonts.cdnfonts.com/css/fira-sans');

/* Predefinitions */
:root {
	--white-smoke: #f2f2f2;
	--dark-blue: #228;
	--dark-gray: #333;
	--wheat: #ddb;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Fira Sans';
	color: var(--dark-gray);
	display: flex;
}


#content-area {
	padding: 0 2vw;
	overflow: scroll;
	flex: 1;
	background-color: var(--white-smoke);
}

.content-nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	flex: 1;
}

.content-nav a {
	margin: 0.2vh 0;
	background-color: var(--wheat);
	color: var(--dark-blue);
	padding: 1vh;
	text-decoration: none;
}

.content-nav a:hover {
	background-color: orange;
}

#projects {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#projects input[type=text] {
	border: 0.1vw solid lightgray;
	border-radius: 20px;
	width: 60%;
	margin: 2vh;
}

#projects input[type=text]:hover, #projects input[type=text]:focus {
	outline: none;
	border: 0.1vw solid var(--dark-blue);
}

#stack-checkboxes {
	display: flex;
	justify-content: center;
}

#stack-checkboxes label {
	margin: 0 2vw;
}

#project-list {
	background-color: white;
	border: 0.1vw solid lightgray;
	width: 100%;
	height: 80vh;
	padding: 1vw;
	box-sizing: border-box;
	overflow: scroll;
}

#profile-area h1 {
	color: var(--dark-blue);
	margin: 0;
}

#profile-area h2 {
	color: var(--dark-gray);
	margin: 1vh 0;
}

.course strong {
	color: teal;
}
	
h4, h3 {
	color: var(--dark-blue);
}

h3 {
	text-align: center;
}

.course {
	margin: 1vh 0;
	background-color: white;
	border: 0.1vw solid lightgray;
	padding: 2vw;
}

.about-basic table th {
	text-align: right;
}

.about-basic table td {
	padding: 0 0 0 1vw;
}

/* Mobile style */
@media screen and (max-width: 800px) {
	body {
		background-color: var(--white-smoke);
		min-height: 100vh;
		display: flow-root;
		scroll-behavior: smooth;
	}
	
	#profile-area, #content-area {
		padding: 0 4vw;
	}

	#profile-area {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: calc(var(--vh, 1vh) * 100);
	}

	#profile-picture {
		width: 30vw;
		border-radius: 50%;
		margin: 9vh 0;
		border: 1vw solid var(--wheat);
	}

	.content-nav {
		margin: 1.4vh;
		font-size: 1.3em;
	}

	.contact-links {
		font-size: 2.5em;
	}

	#about {
		padding: 1vh 0;
	}
	
	#project-list {
		margin-bottom: 4vh;
	}
}

/* Larger screens style */
@media screen and (min-width: 800px) {
	#profile-area {
		width: 25vw;
		padding: 1vh 1vw;
		box-shadow: 0.1vw 0 1vw lightgray;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#profile-picture {
		width: 10vw;
		border-radius: 50%;
		margin: 2vh 0;
		border: 0.4vw solid var(--wheat);
	}

	#profile-area h1 {
		margin-top: 5vh;
	}

	#content-area {
		scroll-behavior: smooth;
		padding-bottom: 2vh;
	}

	#about {
		padding: 1vh 0;
	}

	.contact-links {
		font-size: 1.8em;
	}
}
